<table class="">
     <tr>
       <th>画像</th>
       <td><img alt="部屋画像"  src="https://rails-02-sample.herokuapp.com/assets/room/default-image-4e0ac6b8d01335b5b22fe6586af13644ae51dddb6aeabf35b9174e80f13cd09d.png" /></td>
     </tr>
 
     <tr>
       <th>施設名</th>
       <td><%= @room.name %></td>
     </tr>
 
     <tr>
       <th>紹介</th>
       <td><%= @room.introduction %></td>
     </tr>
 
     <tr>
       <th>宿泊料金</th>
       <td><%= @room.price %></td>
     </tr>

   </table>